.gallery{
display : flex;
flex-wrap: wrap;
justify-content: space-around;
}

.gallery a{
    text-decoration: none;
    margin: 5px;
    display: inline-block;
}

.gallery img{
    max-width: 400px;
    height: auto;
    border: 1px solid #ddd;
    box-shadow: 0 0 4px rgba(0,0,0, 0.2);
    transition: transform 0.2s;
}

.gallery img:hover {
    transform: scale(1.1);
}